.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

nav > .nav.nav-tabs{

  border: none;
    color:#fff;
    background:#75a6eb;
  
    margin: 30px;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
    padding: 18px 25px;
    color:#fff;
    background:#75a6eb;
  
}

nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #e74c3c ;
}


nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
}
.favourites{
  margin-bottom: 50px;
}